ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .link-login{
    color: #ffffff;
  }
  
  .link-login:hover{
    color: #ffffff;
    scale: 1.1;
  }

  Button:hover {
    scale: 1.1;
    color: #F4D03F !important;

  }